.posts__content {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  justify-content: center;
}

.posts__content-item {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}