.post-card {
  padding: 16px;
  border-radius: 8px;
  border: 1px solid blue;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: left;
}

.post-card__header-title {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 0 0.5rem 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.post-card__description {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}